* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 1200px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #374151;
  height: 100%;
}

.wrapper {
  max-width: 900px;
  flex-direction: column;
  display: flex;
  height: 100%;
  flex: 1;
}

#Header {
  flex-direction: row;
  font-size: 18px;
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
  color: aliceblue;
  background-color: #374151;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #8EA4D2;
  position: relative;
}
#Header h1 {
  flex-direction: row;
  font-size: 28px;
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
}
#Header button {
  margin-right: 10px;
  margin-bottom: 8px;
  align-self: flex-end;
  display: block;
  position: absolute;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: inherit;
  transition: none;
  right: 0;
}
#Header img {
  color: aliceblue;
  opacity: 60%;
  width: 20px;
  height: auto;
}

box-title {
  background-color: #6279B8;
  flex-direction: row;
  width: 100%;
  height: 20%;
  border-radius: 1.75rem 1.75rem 0 0;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  align-self: self-end;
  justify-content: center;
  position: relative;
}
box-title h1 {
  color: #202630;
  font-size: 28px;
  font-family: Roboto, Sans-Serif;
  font-weight: bolder;
  max-width: 140px;
  overflow: auto;
}
box-title button {
  display: flex;
  margin-bottom: 5px;
  margin-right: 10px;
  right: 0;
  width: 15px;
  height: 15px;
}
box-title button img {
  width: 15px;
  height: 15px;
}

box-body {
  background-color: #8EA4D2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}
box-body p {
  color: #374151;
  font-size: 18px;
  font-family: Roboto, Sans-Serif;
  font-weight: bolder;
  max-width: 210px;
  overflow: hidden;
  outline: 0px solid transparent;
  white-space: normal;
}

.block-container {
  background-color: #8EA4D2;
  width: 25%;
  height: 46%;
  border: 4px solid #8EA4D2;
  border-radius: 1.75rem 1.75rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.row-head {
  font-size: 28px;
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
  color: aliceblue;
  width: 100%;
  height: 40px;
  background-color: #374151;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.row-head .column {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

button {
  margin-bottom: 8px;
  align-self: flex-end;
  display: block;
  position: absolute;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: inherit;
  transition: transform 100s ease-in-out;
}

button:hover {
  transform: rotate(360turn);
}

#body1 {
  background-color: #49516F;
}
#body1 .row-head {
  flex-direction: row;
}
#body1 .row-head .column {
  width: 70px;
  flex-direction: row;
  font-size: 28px;
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
}
#body1 .row-head img {
  color: aliceblue;
  opacity: 60%;
  width: 20px;
  height: auto;
}
#body1 .row {
  padding: 20px;
  padding-bottom: 20px;
  height: 78%;
  justify-content: space-evenly;
}

#body2 {
  background-color: #49516F;
}
#body2 .row-head {
  flex-direction: row;
}
#body2 .row-head .column {
  width: 70px;
  flex-direction: row;
  font-size: 28px;
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
}
#body2 .row-head img {
  color: aliceblue;
  opacity: 60%;
  width: 20px;
  height: auto;
}
#body2 .row {
  padding: 20px;
  padding-bottom: 20px;
  height: 78%;
  justify-content: space-evenly;
}

#body3 {
  background-color: #49516F;
}
#body3 .row-head {
  flex-direction: row;
}
#body3 .row-head .column {
  width: 70px;
  flex-direction: row;
  font-size: 28px;
  font-family: Helvetica, Sans-Serif;
  font-weight: bolder;
}
#body3 .row-head img {
  color: aliceblue;
  opacity: 60%;
  width: 20px;
  height: auto;
}
#body3 .row {
  padding: 20px;
  padding-bottom: 20px;
  height: 78%;
  justify-content: space-evenly;
}

/* Styles for small screens (up to 768px) */
@media (max-width: 400px) {
  .wrapper {
    flex: content;
  }
  .block-container {
    background-color: #8EA4D2;
    width: 50%;
    height: 50%;
    border: 4px solid #8EA4D2;
    border-radius: 1.75rem 1.75rem;
    flex: 1;
    margin: 5px;
  }
  #Header {
    flex-direction: row;
    font-size: 8px;
    font-family: Helvetica, Sans-Serif;
    font-weight: bolder;
    color: aliceblue;
    background-color: #374151;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 2px solid #8EA4D2;
    position: relative;
  }
  #Header h1 {
    flex-direction: row;
    font-size: 14px;
    font-family: Helvetica, Sans-Serif;
    font-weight: bolder;
  }
  #Header h1 pre {
    font-size: 14px;
  }
  #Header button {
    margin-right: 10px;
    margin-bottom: 3px;
    align-self: flex-end;
    display: block;
    position: absolute;
    border: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: inherit;
    transition: none;
    right: 0;
  }
  #Header img {
    color: aliceblue;
    opacity: 60%;
    width: 15px;
    height: auto;
  }
  #body1 {
    height: 100%;
    background-color: #49516F;
  }
  #body1 .row-head {
    flex-direction: row;
  }
  #body1 .row-head .column {
    width: 70px;
    flex-direction: row;
    font-size: 28px;
    font-family: Helvetica, Sans-Serif;
    font-weight: bolder;
  }
  #body1 .row-head img {
    color: aliceblue;
    opacity: 60%;
    width: 20px;
    height: auto;
  }
  #body1 .row {
    padding: 5px;
    padding-bottom: 20px;
    height: 78%;
    justify-content: space-evenly;
  }
  #body2 {
    background-color: #49516F;
  }
  #body2 .row-head {
    flex-direction: row;
  }
  #body2 .row-head .column {
    width: 70px;
    flex-direction: row;
    font-size: 28px;
    font-family: Helvetica, Sans-Serif;
    font-weight: bolder;
  }
  #body2 .row-head img {
    color: aliceblue;
    opacity: 60%;
    width: 20px;
    height: auto;
  }
  #body2 .row {
    padding: 0px;
    padding-bottom: 20px;
    height: 78%;
    justify-content: space-evenly;
  }
  #body3 {
    background-color: #49516F;
  }
  #body3 .row-head {
    flex-direction: row;
  }
  #body3 .row-head .column {
    width: 70px;
    flex-direction: row;
    font-size: 28px;
    font-family: Helvetica, Sans-Serif;
    font-weight: bolder;
  }
  #body3 .row-head img {
    color: aliceblue;
    opacity: 60%;
    width: 20px;
    height: auto;
  }
  #body3 .row {
    padding: 0px;
    padding-bottom: 20px;
    height: 78%;
    justify-content: space-evenly;
  }
}
/* Styles for larger screens */
@media (min-width: 769px) {
  #Header {
    flex-direction: row;
    font-size: 8px;
    font-family: Helvetica, Sans-Serif;
    font-weight: bolder;
    color: aliceblue;
    background-color: #374151;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #8EA4D2;
    position: relative;
  }
  #Header h1 {
    flex-direction: row;
    font-size: 28px;
    font-family: Helvetica, Sans-Serif;
    font-weight: bolder;
  }
  #Header h1 pre {
    font-size: 28px;
  }
  #Header button {
    margin-right: 10px;
    margin-bottom: 8px;
    align-self: flex-end;
    display: block;
    position: absolute;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: inherit;
    transition: none;
    right: 0;
  }
  #Header img {
    color: aliceblue;
    opacity: 60%;
    width: 20px;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */